<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>User Profile</title>
</head>
<header class="header">
    <div class ="header__inner">
        <nav class="nav">
            <a class="nav__link title" href="index.html">Home</a>
            <a class="nav__link title" href="travel.html">Travel</a>
            <a class="nav__link title" href="profile.rs">Profile</a>
        </nav>
    </div>
</header>
<body>
<div class="profile-container">
    <div class="card card-block user-card-full ">
        <img class="profile-picture" src="assets/icon1.png" alt="Icon">
        <h6 class="name">{{ username }}</h6>
        <p class="text-muted">User Profile</p>
        <div class="card-block">
            <h6 class="separator">Information</h6>
            <div class="row">
                <h6 class="">Email</h6>
                <p class="text-muted">{{ email }}</p>
                <h6 class="">Date of Birth</h6>
                <p class="text-muted">{{ birthdate }}</p>
                <h6 class="">Cookie</h6>
                <p class="text-muted">{{ cookie }}</p>
            </div>
        </div>
        <div class="button-container">
            <button id="logout" class="button center" >Logout</button>
            <button id="upload" class="button center" onclick="window.location.href = 'upload.py';">Upload Images</button>        </div>
    </div>
</div>
</body>
<script>
    function deleteAllCookies() {
        const cookies = document.cookie.split('; ');

        for (const cookie of cookies) {
            const [name] = cookie.split('=');
            document.cookie = `${name}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
        }
    }

    function checkAndDeleteCookies() {
        const cookies = document.cookie;

        if (cookies !== '') {
            console.log('User has cookies. Deleting them...');
            deleteAllCookies();
            console.log('Cookies deleted.');
        } else {
            console.log('User has no cookies.');
        }
        const redirectTo = "/index.html"; // Replace with your desired URL

        // Redirect to the specified URL
        window.location.href = redirectTo;
    }
    const button = document.getElementById("logout");

    // Add a click event listener to the button
    button.addEventListener("click", checkAndDeleteCookies);
</script>

</html>
