<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/error.css">
    <script src="js/stars.js"></script>
    <title>RegistrationLandingPage</title>
</head>
<body>
    <div class="text">
        <div>Registration Done</div>
        <h1>{{ message }}!</h1>
    </div>
    <a href="/index.html" class="button">Home</a>
    <div class="astronaut">
        <img src="../assets/astronaut.png" alt="" class="src">
    </div>
</body>
</html>
